{% extends 'main/base.html' %}
{% block title %}
    Services List
{% endblock %}

{% block content %}
    <div class="service-title">
        <p class="title">Services</p>
    
    {% if user.is_company %}
    <div class="create-service">
        <a class="create-service-button" href="/services/create"> Create Service</a>
    </div>
    {% endif %}
    </div>
    <div class='services-list'>
        {% if services %}
            {% for service in services.all %}
            <div class="services-container">
                <div class='service-list-info'>
                    <li><a href="/services/{{service.id}}">
                        {{ service.name }} 
                        <pre>{{ service.description }}</pre>
                        </a> ({{service.field}}) -- {{ service.price_hour }}€/hour. Created at {{ service.date }}
                    </li>
                </div>
                <p class="service-footer">by <a href="/company/{{service.company.user.slug}}">{{service.company.user.username}}</a></p>
            </div>
            {% endfor %}
        {% else %}
            <div class="not-available">
                <h2>Sorry. No services available yet</h2>
            </div>       
        {% endif %}
     </div>
{% endblock %}
