{% extends 'main/base.html' %}
{% block title %}
    {{ service.name }}
{% endblock %}
{% block content %}
    <div class='services-list'>
        <div class="services-container">
            <h1>{{service.name}} -- {{service.price_hour}}€/hour</h1> Created at {{ service.date }}
            <h5>by <a href="/company/{{service.company.user.slug}}">{{service.company.user.username}}</a></h5>
        </div>
    </div>

    <div class="service-field">
        <h3>({{service.field}})</h3>
    </div>  

    <div class="description-of-service">
        <p class="service_description">{{service.description}}</p>
    </div>
    
    {% if request.user.is_customer %}
    <div class="request-service">
        <a href="/services/{{service.id}}/request_service/" class="request_service_button">Request Service</a>
    </div>      
    {% endif %}
{% endblock %}